@model TodoEntry

<h4>Create a Todo</h4>
<div class="row">
    <div class="col-md-6">
        <form action="/todoentry/Create" method="post">
            <input type="hidden" asp-for="TodoListId" />
            <div class="form-group">
                <label asp-for="Title">Name</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <textarea asp-for="Description" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes">Notes</label>
                <textarea asp-for="Notes" rows="1" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <select asp-for="Status" class="form-select">
                    <option selected value="Not Started">Not Started</option>
                    <option value="Completed">Completed</option>
                    <option value="In Progress">In Progress</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DueDate">Due Date</label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationDate">Creation Date</label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-secondary" asp-controller="TodoEntry" asp-action="Index" asp-route-listId="@Model.TodoListId">Back</a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    @{ 
        <partial name="_ValidationScriptsPartial"/>
    }
}